{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Update{% else %}Create{% endif %} Listing{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}Update{% else %}Create{% endif %} Listing</h2>
<!-- Form to create or update a property listing -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Display the form fields -->
    <button type="submit">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
</form>
{% endblock %}
